# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.pytest_cache
htmlcov

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDEs
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs

# Docker
Dockerfile*
docker-compose*
.docker

# Documentation
README.md
*.md

# Infrastructure
infrastructure/